.logo {
  height: 32px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 16px;
}
.logo h1 {
  display: inline-block !important;
  margin: 0 0 0 12px !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  vertical-align: middle !important;
}

.logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  /* padding: 0 24px; */
  cursor: pointer;
  transition: color 0.3s;
}
